.track-number {
  font-size: 2rem;      /* Increase the size */
  font-weight: bold;
  color: #ffffff;
  width: 40px;
  text-align: right;
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-shrink: 0;
}

.button-options {
  display: flex;
  justify-content: center; 
  gap: 1rem; 
}

.button-options button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 30px;
  border: 2px solid #a97ff0;
  background-color: #6438bd;
  color: #ffffff;
  font-weight: bold;
  font-style: oblique;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 100px; 
  margin-bottom: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.button-options button:hover:not(:disabled) {
  background-color: #c1aaf0;
}

/* .button-options button.selected {
  background-color: rgb(32, 214, 95);
  color: white;
} */

.button-options button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* WebKit browsers */
.top-artists::-webkit-scrollbar,
.top-tracks::-webkit-scrollbar,
.top-albums::-webkit-scrollbar,
.top-genres::-webkit-scrollbar {
  width: 8px;
}

.top-artists::-webkit-scrollbar-track,
.top-tracks::-webkit-scrollbar-track,
.top-albums::-webkit-scrollbar-track,
.top-genres::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

.top-artists::-webkit-scrollbar-thumb,
.top-tracks::-webkit-scrollbar-thumb,
.top-albums::-webkit-scrollbar-thumb,
.top-genres::-webkit-scrollbar-thumb {
  background-color: #a97ff0; 
  border-radius: 4px;
}

.loading-container img {
  width: 100px;  /* Adjust size as needed */
  height: 100px;
  padding: 10px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loading-container p {
  font-size: 24px;       /* make text clear but not too big */
  font-weight: bold;
  text-align: center;
  font-style: italic;    /* optional, matches your button style */
}