.track-number {
  font-size: 2rem;      
  font-weight: bold;
  color: #ffffff;
  width: 40px;
  text-align: right;
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-shrink: 0;
}

.button-options {
  display: flex;
  justify-content: center; 
}

.button-options button {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
  border: 2px solid #a97ff0;
  background-color: #4b2991;
  color: #ffffff;
  font-weight: bold;
  font-style: oblique;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 90px; 
  margin-bottom: 10px;;
}

.button-options button:hover:not(:disabled) {
  background-color: #5e35b1;
}

.button-options button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* WebKit browsers */
.top-artists::-webkit-scrollbar,
.top-tracks::-webkit-scrollbar,
.top-albums::-webkit-scrollbar,
.top-genres::-webkit-scrollbar {
  width: 3px;
}

.top-artists::-webkit-scrollbar-track,
.top-tracks::-webkit-scrollbar-track,
.top-albums::-webkit-scrollbar-track,
.top-genres::-webkit-scrollbar-track {
  background: white;
}

.top-artists::-webkit-scrollbar-thumb,
.top-tracks::-webkit-scrollbar-thumb,
.top-albums::-webkit-scrollbar-thumb,
.top-genres::-webkit-scrollbar-thumb {
  background-color: #a97ff0; 
  border-radius: 4px;
}

.loading-container img {
  width: 100px;  /* Adjust size as needed */
  height: 100px;
  padding: 70px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container p {
  font-size: 24px;       /* make text clear but not too big */
  font-weight: bold;
  text-align: center;
  font-style: italic;    /* optional, matches your button style */
}

@media (max-width: 768px) {
  .TrackCard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 8px;
  }

  .track-cover img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
  }

  .track-number {
    font-size: 24px;
    order: 1;
  }

  .track-cover {
    order: 2;   
  }

  .track-info {
    order: 3;   
    text-align: center; 
  }

  .track-info .track-name {
    margin-bottom: 4px;
  }

  .button-options {
    display: flex;
    justify-content: center;
    gap: 10px;         
    flex-wrap: wrap;  
  }

}