.stats-page-container header {
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.top-tracks,
.top-artists,
.top-albums,
.top-genres {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 40px;
  overflow-y: scroll;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-tracks, .top-albums {  
  width: 645px;
  height: 500px;
  max-width: 900px;
  max-height: 500px;
}

.top-artists, .top-genres {
  width: 385px;
  height: 500px;
  max-width: 900px;
  max-height: 500px;
}


.extra-display .profile-pic img {
  width: 200px;      
  height: 200px;     
  border-radius: 50%; 
  object-fit: cover; 
  display: block;
  margin: 0 auto;   
}

.extra-display .thank-you-section .large-number {
  font-size: 149px; 
  text-align: center;
}

.extra-display .welcome-message p,
.extra-display .thank-you-section p {
  font-size: 22px;  
  font-weight: bold;
  text-align: center;
  margin: 8px 0;
}

.stats-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px;
}


.stats-page-container{
  flex-direction: row;
  display: flex;
}

.extra-display{
  max-width: 300px;
  padding: 25px;
  margin: 100px auto;
}

.extra-display .profile-pic {
  margin-bottom: 120px;
}

.extra-display .thank-you-section {
  margin-top: 150px;
}
