.content a{
    color: white;
    font-family: "Helvetica World", Helvetica, Arial, sans-serif;

}

.promptify-logo{
    font-family: "Helvetica World", Helvetica, Arial, sans-serif;

}

.about-us{
    font-family: "Helvetica World", Helvetica, Arial, sans-serif;
}