.nav-bar a{
    color: white;
    font-family: "Helvetica World", Helvetica, Arial, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-bar .promptify-logo h1{
    font-family: "Helvetica World", Helvetica, Arial, sans-serif;
    font-weight: 575;
    text-align: center;
}

.nav-bar .about-us{
    position: relative;
    font-family: "Helvetica World", Helvetica, Arial, sans-serif;
}