.recent-playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
  .recent-playlists {
    flex-direction: column;
    align-items: center;
  }

  .PlaylistCard {
    width: 90vw;
    max-width: 350px;
    padding: 10px;
    margin: 8px 0;
    font-size: 0.95rem;
    border-radius: 14px;
  }

  .PlaylistCard img {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px; /* Increase this value for a taller image */
    object-fit: cover; /* Ensures the image fills the area nicely */
  }
}

