.home-page {
    justify-content: center;
    align-items: center;
    width: 100vw
}

.home-page-button {
    background-color: #20D65F;
    position: relative;
}

.home-page-button {
    border-radius: 100px;
    border: 4px black solid;
}