.home-page {
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
/* CSS for homepage button*/
.home-page-button {
  background-color: #20d65f;
  border-radius: 50px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin: 2em;
}

.home-page-button h2 {
  margin: 0;
}
.home-page-button:hover {
  background-color: #107434;
}
.home-page-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 768px) {
  .home-page-button {
    padding: 0.75rem 1.5rem;
  }
}