img {
    width: 300px;
    height: 300px;
}

.PlaylistCard {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    border-radius: 20px;

}

.PlaylistCard:hover {
    display: flex;
    justify-content: center;
    padding: 1em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    transition: background-color 0.3s ease-in;
}


.PlaylistCard .info {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.PlaylistCard .info:hover {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.PlaylistCard .playlist-name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;

}
.playlist-creation{
    margin: 0;
    padding-left: 0.5em;

}

.playlist-first-line {
    display: flex;
    align-items: center;
}

.delete-icon {
    white-space: nowrap;
    flex-shrink: 0;
    text-align: right;
    margin-left: auto;
    padding-right: 1rem;
}
