.TrackCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;

}

.TrackCard:hover {
    background-color: #b2b1b1;
    color: black;
  }


  .track-cover {

    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
  }

  .track-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  .track-name {
    font-weight: 600;
    font-size: 1.75rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .track-artist {
    font-size: 1rem;
  }


.track-duration {
    font-size: 0.85rem;
    white-space: nowrap;
    flex-shrink: 0;
  }