.login-button{
   width: 300px;
   height: 300px;
   border-radius: 50%;
   border: 2px solid #fcfcff2a;
   animation: spin 15s linear infinite;
}


.login-button:hover{
    cursor: pointer;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}